* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
/* header styles */
header {
  background-image: url("../images/banner/banner1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
}
.header {
  padding: 120px 130px 105px 0;
}
.header-title {
  color: var(--Dark-01, #151414);
  font-size: 65px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 25px;
}
.description {
  color: var(--Dark-02, #444343);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.orange-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background: #f15b22;
  padding: 20px 25px;
  margin-top: 35px;
}
/* failures styles*/
.failures {
  display: flex;
  justify-content: space-around;
  margin: 140px 0;
  text-align: left;
}
.section-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}
.failures-description{
  padding-top: 250px;
  margin-right: 80px;
}
.description {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 25px 0;
}
.failures-description ul li {
  color: #444343;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  list-style: none;
}
.failures-icon{
  color: #16d887;
  font-weight: 500;
}
/* plans styles */
.plans{
  text-align: center;
}
.plan-details{
  display: flex;
  justify-content: space-around;
  margin: 50px 100px 0 100px;
}
.plan-title{
  color:#151414;
font-size: 30px;
font-weight: 700;
margin: 20px 0 10px;
}
.plan-description{
  color: #737272;
font-size: 25px;
font-weight: 500;
}
/* mindset styles */
.mindset{
  background-image: url('../images/watch.png');
  background-position: center;
  background-size: cover;
  margin: 150px;
  position: relative;
  z-index: 1;
  border-radius: 5px;
}
.mindset::after{
  content: "";
  position: absolute;
  background-image: url('../images/gradient1.png');
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .5;
}
.mindset > .section-title{
  color: #fff;
  padding: 60px 0px 20px 70px;
}
.btn-white{
  color: #f15b22;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background: #fff;
  padding: 20px 25px;
  margin:0 0 60px 70px;
}
/* footer styles */
.footer {
  background: #151414;
  color: #fff;
  display: flex;
  gap: 250px;
  padding: 130px 180px;
}
.footer-title{
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 15px;
}
.footer-description{
font-size: 16px;
font-weight: 400;
line-height: 26px; 
}
.contact{
  margin: 25px 0;
}
.footer-img > img{
  margin: 30px 15px 0 0;
}
.footer-subtitle{
font-size: 25px;
font-weight: 600;
}
.footer-right{
  margin-right: 100px;
}
.footer-right > input{
  background-color: #151414;
  border-radius: 8px;
border: 1px solid #FFF;
padding: 10px 15px;
width: 150%;
margin: 30px 0 15px;
}
::placeholder{
  color: #FFF;
}
.footer-right > .btn-white{
  margin-left: auto;
}